@{
    ViewData["Title"] = "About";
     Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!--body content start-->

<div class="page-content">


    <!--about us start-->

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <div class="pos-r">
                        <img class="img-fluid rounded box-shadow w-100" src="/images/ksm-image/about-4.png" alt="">
                        <div class="video-btn video-btn-pos">
                            <a class="play-btn popup-youtube mr-3" href="https://www.youtube.com/watch?v=NZhflzcPYuM&t"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 md-mt-5">
                    <div class="section-title mb-0">
                        <h6>Welcome to KSA Immigration Consulting Services Ltd</h6>
                        <h2 class="title">We Provide A Full Range Of Immigration Services</h2>
                        <p style="text-align:justify">
                            We provide a full range of immigration services for families, individuals and entrepreneurs. When it comes to Canadian Immigration KSA is on top of current trends and changes and provides this comprehensive information to people with Canadian immigration and citizenship questions or concerns.
                        </p>
                        <br />
                        <p style="text-align:justify">
                            KSA Immigration Consulting Services was established in Canada by Samusideen and Adrianus in Canada with the main objective of providing superior Canadian Immigration consultancy services for migrants from all parts of the world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--about us end-->
    <!--about start-->

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 order-lg-1">
                    <div class="row no-gutters">
                        <div class="col-sm-7 z-index-1">
                            <div class="theme-bg rounded p-4">
                                <div class="section-title mb-0">
                                    <h2 class="title mb-0 font-w-5">5+ Years Experience of Business</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 ml-n1 mt-sm-5">
                            <img class="img-fluid rounded" src="/images/ksm-image/about-5.png" alt="">
                        </div>
                    </div>
                    <div class="row custom-mt-10 z-index-0">
                        <div class="col-10 ml-auto mr-auto">
                            <img class="img-fluid rounded" src="/images/ksm-image/about-6.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 md-mt-5">
                    <div class="section-title mb-0">
                        <h6>About KSA Immigration Consulting Founder</h6>
                        <h2 class="title">Get to know more about the Founder</h2>
                        <p style="text-align:justify">
                            Originally from Nigeria Samusideen (Sam) Kazeem has lived in the UK prior to immigrating to Canada. Not only does he have a Bachelor of Chemical Engineering from Obafemi Awolowo University in Nigeria, he has a Master of Computing and Information Systems from the University of Greenwich.
                        </p>
                        <br />
                        <p style="text-align:justify">
                            Sam completed the Immigration: Laws, Policies and Procedures Certificate from the University of British Columbia. He is a registered member of the
                            <strong>Immigration Consultants of Canada Regulatory Council (ICCRC). Membership ID#: R535675</strong>. As a Nigerian Canadian Sam has not only helped many Nigerians immigrate but also to settle and adjust to Canadian Society.
                        </p>
                        <p style="text-align:justify">
                            With integrity and trust in mind he focuses on what is important for our clients – from mapping out immigration opportunities as well as developing a positive immigration experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-8">
                <div class="col-lg-12 col-md-12">
                    <p style="text-align:justify">
                        Born and raised in Calgary by immigrants of Dutch and Indonesian descent Adrianus (Andy) Loogman has a Bachelor of Commerce from Royal Roads University as well as a Bachelor of Law from Robert Gordon University. He completed the Immigration: Laws, Policies and Procedures Certificate from the University of British Columbia.
                    </p>
                    <br />
                    <p style="text-align:justify">
                        In his spare time, he volunteers teaching English to immigrants in Canada. He has a passion for helping people and provides support, mentorship and guidance to facilitate the smooth process of immigration initiatives.
                    </p>
                    <br />
                    <p style="text-align:justify">KSA Immigration Consulting Services pays attention to detail and ensures your applications are not only error free but prepared and submitted in a timely manner. We look forward to working with you on all your immigration needs.</p>
                </div>
            </div>
        </div>
    </section>

    <!--about end-->
    <!--counter start-->

    <section class="theme-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="section-title">
                        <h6>Fun Fact</h6>
                        <h2 class="title">Number Speak Louder then Word</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="counter style-2">
                        <div class="counter-icon">
                            <i class="flaticon-planning"></i>
                        </div>
                        <div class="counter-desc">
                            <span class="count-number" data-to="234" data-speed="10000">56</span>
                            <h6>Project Done</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 xs-mt-5">
                    <div class="counter style-2">
                        <div class="counter-icon">
                            <i class="flaticon-user"></i>
                        </div>
                        <div class="counter-desc">
                            <span class="count-number" data-to="234" data-speed="10000">56</span>
                            <h6>Number of Clients</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 sm-mt-5">
                    <div class="counter style-2">
                        <div class="counter-icon">
                            <i class="flaticon-report"></i>
                        </div>
                        <div class="counter-desc">
                            <span class="count-number" data-to="234" data-speed="10000">56</span>
                            <h6>Success Reports</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 sm-mt-5">
                    <div class="counter style-2">
                        <div class="counter-icon">
                            <i class="flaticon-team"></i>
                        </div>
                        <div class="counter-desc">
                            <span class="count-number" data-to="234" data-speed="10000">56</span>
                            <h6>Happy Client</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--counter end-->
    <!--blog start-->

    <section>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8 col-md-12">
                    <div class="section-title">
                        <h6>Blog</h6>
                        <h2 class="title">Read Our Latest News</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="post">
                        <div class="post-image">
                            <img class="img-fluid rounded w-100" src="/images/ksm-image/blog-tumb.png" alt="">
                        </div>
                        <div class="post-desc">
                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#">Immigrate</a>
                                    </li>
                                    <li>15 Oct, 2019</li>
                                </ul>
                            </div>
                            <div class="post-title">
                                <h4>
                                    <a href="/Home/Pos">Post Title</a>
                                </h4>
                            </div>
                            <div class="post-author">
                                <div class="post-author-img">
                                    <img class="img-fluid" src="/images/ksm-image/female-icon-sm.png" alt="">
                                </div>
                                <span>Writer's Name</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 md-mt-5">
                    <div class="post">
                        <div class="post-image">
                            <img class="img-fluid rounded w-100" src="/images/ksm-image/blog-tumb.png" alt="">
                        </div>
                        <div class="post-desc">
                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#">Immigrate</a>
                                    </li>
                                    <li>15 Oct, 2019</li>
                                </ul>
                            </div>
                            <div class="post-title">
                                <h4>
                                    <a href="/Home/Post">Post Title</a>
                                </h4>
                            </div>
                            <div class="post-author">
                                <div class="post-author-img">
                                    <img class="img-fluid" src="/images/ksm-image/male-icon-sm.png" alt="">
                                </div>
                                <span>Writer's Name</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 md-mt-5">
                    <div class="post">
                        <div class="post-image">
                            <img class="img-fluid rounded w-100" src="/images/ksm-image/blog-tumb.png" alt="">
                        </div>
                        <div class="post-desc">
                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#">Immigrate</a>
                                    </li>
                                    <li>15 Oct, 2019</li>
                                </ul>
                            </div>
                            <div class="post-title">
                                <h4>
                                    <a href="/Home/Post">Post Title</a>
                                </h4>
                            </div>
                            <div class="post-author">
                                <div class="post-author-img">
                                    <img class="img-fluid" src="/images/ksm-image/female-icon-sm.png" alt="">
                                </div>
                                <span>Writer's Name</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--blog end-->

</div>

<!--body content end-->