@{
    ViewData["Title"] = "  Agri-Food Immigration Pilot";
 Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!--body content start-->

<div class="page-content">

    <!--section start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="title mb-3">
                        Agri-Food Immigration Pilot
                    </h2>
                    <p class="mb-0 text-justify">
                        This is to address labour shortage in Canadian agri-food sector with focus on meat processing and mushroom production.
                    </p>
                    <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">
                    <p class="mb-0 text-justify">
                        <strong>
                            The eligible industries for the Agri-Food Immigration Pilot are:
                        </strong>
                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                meat product manufacturing (NAICS 3116)
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                greenhouse, nursery and floriculture production, including mushroom production (NAICS 1114)
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                animal production, excluding aquaculture (NAICS 1121, 1122, 1123, 1124 or 1129)
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                or each eligible industry, eligible jobs are listed below.
                            </li>
                        </ul>
                    </p>
                    <p class="mb-0 text-justify">
                        <strong>
                            For meat product manufacturing:
                        </strong>
                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                retail butchers (NOC B 6331)
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                industrial butchers (NOC C 9462)
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                farm supervisors and specialized livestock workers (NOC B 8252)
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                food processing labourers (NOC D 9617)
                            </li>
                        </ul>
                    </p>
                    <p class="mb-0 text-justify">
                        <strong>
                            For greenhouse, nursery and floriculture production, including mushroom production:
                        </strong>
                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                farm supervisors and specialized livestock workers (NOC B 8252)
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                general farm workers (NOC C 8431)
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                harvesting labourers (NOC D 8611)
                            </li>
                        </ul>
                    </p>
                    <p class="mb-0 text-justify">
                        <strong>
                            For animal production, excluding aquaculture:
                        </strong>
                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                farm supervisors and specialized livestock workers (NOC B 8252)
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                general farm workers (NOC C 8431)
                            </li>
                        </ul>
                    </p>
                    <p class="mb-0 text-justify">
                        There is an annual limit for each profession under this profession.
                    </p>
                    <p class="mb-0 text-justify">
                        <strong>Eligibility</strong><br />
                        1 year non seasonal work experience in the last 3 years. CLB 4 in either English or French. Job offer is a must. ECA for foreign education of minimum of high school diploma or higher. Evidence of settlement funds.

                    </p>
                </div>
                <div class="col-lg-4 col-md-12 sidebar md-mt-5">
    <div class="widget mb-5">
        <div class="sidebar-links">
            <ul class="list-unstyled">
                <li class="active">
                    <a href="/Home/ExpressEntry">
                        <span class="link-icon link-arrow"></span>
                        <p class="link-text">Express Entry</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/ProvinceNomineeProgram">
                        <span class="link-icon link-arrow"></span>
                        <p class="link-text">Province Nominee Program</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/AtlanticImmigrationPilot">
                        <span class="link-icon link-arrow"></span>
                        <p class="link-text">Atlantic Immigration Pilot</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/StartUpVisa">
                        <span class="link-icon link-arrow"></span>
                        <p class="link-text">Start Up Visa</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/RuralNorthernImmigrationPilot">
                        <span class="link-icon link-arrow"></span>
                        <p class="link-text">Rural and Northern Immigration Pilot</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/FamilySponsorship">
                        <span class="link-icon link-arrow"></span>
                        <p class="link-text">Family Sponsorship</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/AgriFoodImmigrationPilot">
                        <span class="link-icon link-arrow"></span>
                        <p class="link-text">Agri-Food Immigration Pilot</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/SelfEmployed">
                        <span class="link-icon link-arrow"></span>
                        <p class="link-text">Self Employed</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
            </div>
        </div>
    </section>

    <!--section end-->

</div>
<!--body content end-->