@{
    ViewData["Title"] = "Canadian Experience Class (CEC)";
 Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!--body content start-->

<div class="page-content">

    <!--section start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="title mb-3">Canadian Experience Class (CEC)</h2>
                    <p class="mb-0 text-justify">
                        This is managed under the express entry. These are for candidates that have worked in Canada with a minimum of 1-year work experience in the past 3-years before applying. This work experience must have been authorized and doesn’t need to be continuous. Work experience must be NOC 0/A/B. Language test is mandatory which could be at CLB 7 for NOC 0/A and CLB 5 for NOC B.
                    </p>

                    <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">
                    <p class="mb-0 text-justify">
                        To be considered under the express entry all potential applicants must meet certain criteria under the various skilled worker programs. The different programs are:
                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Quebec work experience counts.

                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Work experience gained during full time student (such as co-op work term) doesn’t count

                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Self-Employed doesn’t count.

                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Work undertaken while awaiting refugee decision doesn’t count.
                                Proof of funds is not required nor is there an educational requirement for this program.

                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>You are advised to act quickly as number of intakes under this program is controlled by instructions from the Immigration Minister and changes frequently occur without notice.


                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                    <div class="widget mb-5">
                        <div class="sidebar-links">
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="/Home/ExpressEntry">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Express Entry</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/ProvinceNomineeProgram">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Province Nominee Program</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AtlanticImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Atlantic Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/StartUpVisa">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Start Up Visa</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/RuralNorthernImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Rural and Northern Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/FamilySponsorship">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Family Sponsorship</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AgriFoodImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Agri-Food Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/SelfEmployed">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Self Employed</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--section end-->

</div>

<!--body content end-->