@{
    ViewData["Title"] = "Contact";
     Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!--body content start-->

<div class="page-content">

    <!--contact start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="contact-main white-bg p-5 box-shadow">
                        <form id="contact-form" class="row" method="post" action="">
                            <div id="formmessage"></div>
                            <div class="form-group col-md-6">
                                <input id="form_name" type="text" name="firstname" class="form-control" placeholder="First Name" required="required" data-error="Name is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="form_name1" type="text" name="lastname" class="form-control" placeholder="Last Name" required="required" data-error="Name is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group col-md-12">
                                <input id="form_email" type="email" name="email" class="form-control" placeholder="Email" required="required" data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group col-md-12">
                                <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Phone" required="required" data-error="Phone is required">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="select" class="form-control">
                                    <option>- Select Service</option>
                                    <option>Permanent Resident</option>
                                    <option>Temporary Resident</option>
                                    <option> Refugees & Asylum</option>
                                    <option>Citizenship</option>
                                    <option>Consultation & Advisory</option>
                                    <option>Educational Credential Assessments</option>
                                    <option>Complimentary Services</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="form_subject" type="tel" name="subject" class="form-control" placeholder="Subject" required="required" data-error="Subject is required">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group col-md-12">
                                <textarea id="form_message" name="message" class="form-control" placeholder="Message" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-12 text-center mt-4">
                                <button class="btn">
                                    <span>Send Messages</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="section-title">
                        <h6>Contact Us</h6>
                        <h2 class="title">Describe your project and leave us your contact info</h2>
                        <p>Get in touch and let us know how we can help. Fill out the form and we’ll be in touch as soon as possible.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="contact-media">
                        <i class="flaticon-paper-plane"></i>
                        <h4 class="text-theme">Address:</h4>
                        <p class="mb-3">See Our Branch Office</p>
                        <div class="mb-3">
                            <h6 class="font-w-5">Canada Office:</h6>
                            <span class="text-black">company office</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 md-mt-5">
                    <div class="contact-media">
                        <i class="flaticon-email"></i>
                        <h4 class="text-theme">Email Us</h4>
                        <p class="mb-3">Email us for general queries, including marketing and partnership opportunities.</p> <a href="mailto:company@mail.com"> company@mail.com</a>
                        <a href="company@mail.com"> company@mail.com</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 md-mt-5">
                    <div class="contact-media">
                        <i class="flaticon-phone"></i>
                        <h4 class="text-theme">Call Us</h4>
                        <p class="mb-3">Call us to speak to a member of our team.</p> <a href="tel:+342345678900">+34-234-567-8900</a>
                        <a href="tel:+762345678900">+76-234-567-8900</a>
                        <a href="tel:+442345678900">+44-234-567-8900</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="map iframe-h-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.840108181602!2d144.95373631539215!3d-37.8172139797516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1497005461921" allowfullscreen=""></iframe>
    </div>

    <!--contact end-->

</div>

<!--body content end-->
