@{
    ViewData["Title"] = "Express Entry";
     ViewData["whatwedo"] = "yes";
     Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!--section start-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h2 class="title mb-3">Express Entry</h2>
                <p class="mb-0 text-justify">
                    Express Entry provides a pathway to permanent residence for skilled workers in Canada or abroad. This is a point based comprehensive ranking system which selectees are periodically selected among the pool of thousands of applicants. For potential applicants Express Entry may result in faster processing times of six months or less upon completing and submitting error free electronics application after receiving invitation to apply from IRCC
                </p>
                <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">
                <p class="mb-0 text-justify">
                    Work Experience:
                </p>
                <p class="text-justify">
                    <ul class="list-unstyled list-icon">
                        <li class="mb-3">
                            <i class="flaticon-tick"></i> the Federal Skilled Worker Program
                        </li>
                        <li class="mb-3">
                            <i class="flaticon-tick"></i> the Federal Skilled Trades Program
                        </li>
                        <li class="mb-3">
                            <i class="flaticon-tick"></i> the Canadian Experience Class
                        </li>
                    </ul>
                </p>
                <p class="mb-0 text-justify">
                    Application that do not meet the minimum requirements of any of these three programs, cannot create an express entry profile.
                </p>
                <p class="mb-0 text-justify">
                    Some provinces and territories are also seeking candidates via the Express entry pool in order to meet the local labour demands. This is through the
                    <strong><u>Province Nominee Program (PNP)</u></strong>

                </p>
                <p class="mb-0 text-justify">
                    To qualify under express entry, you must meet the following criteria which are
                    <strong><u>education</u></strong>,
                    <strong><u>work experience</u></strong>, and knowledge of
                    <strong><u>language</u></strong> which could be English or French. If it is a foreign education, then it must be assessed by a recognized Canadian body

                </p>
                <p class="mb-0 text-justify">

                    Once applicants meet the requirements they can create their express entry profile and be placed in the pool of candidates.
                </p>
                <p class="mb-0 text-justify">
                    Candidates are given points based on comprehensive ranking system under four broad categories of the express entry. These are Core Human Capital, Spouse or Common Law Partner factors, Skill Transferability Factors and Additional Points. These four factors have a maximum point of 1,200.  This ranking system allows candidates with high points and are within the announced government biweekly cut-offs to be issued <strong><u>Invitation To Apply (ITA)</u></strong>. This means further processing which begins a new milestone towards achieving your immigration goals.

                </p>
                <p class="mb-0 text-justify">
                    Once you have received the Invitation to apply, you will have to decide whether you accept or reject it. If you accept the invitation to apply via express entry profile, then an error free online application must be submitted to IRCC for further processing. This is to determine if you meet the requirements of the skilled program.
                    If you decide to reject the invitation to apply, you will be automatically placed back into the express entry pool and then must wait for another draw by the immigration, refugee and citizenship Canada.

                </p>
            </div>
            <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                <div class="widget mb-5">
                    <div class="sidebar-links">
                        <ul class="list-unstyled">
                            <li class="active">
                                <a href="/Home/ExpressEntry">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Express Entry</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/ProvinceNomineeProgram">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Province Nominee Program</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/AtlanticImmigrationPilot">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Atlantic Immigration Pilot</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/StartUpVisa">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Start Up Visa</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/RuralNorthernImmigrationPilot">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Rural and Northern Immigration Pilot</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/FamilySponsorship">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Family Sponsorship</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/AgriFoodImmigrationPilot">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Agri-Food Immigration Pilot</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/SelfEmployed">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Self Employed</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--section end-->