@{
    ViewData["Title"] = "Federal Skill Trades Class (FSTC)";
     ViewData["whatwedo"] = "yes";
 Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!--body content start-->

<div class="page-content">

    <!--section start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="title mb-3">Federal Skill Trades Class (FSTC)</h2>
                    <p class="mb-0 text-justify">
                        This program manages the express entry for those qualified in the skill trade. To qualify for this program, you must have a full-time job offer which is LMIA based from a Canadian employer or have a certificate of qualification issued by a Canadian provincial or territorial body.
                    </p>
                    <p class="mb-0 text-justify">
                        Work experience does not need to be continuous but must be a minimum of 2 years full time in the last 5 years acquired after qualifying to practice such trade skills.
                    </p>

                    <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">
                    <p class="mb-0 text-justify">
                        The language requirement is CLB 5 in Speaking and listening, CLB 4 in writing and reading either in English or French.
                    </p>
                    <p class="mb-0 text-justify">
                        The qualifying trade groups are:
                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Major Group 72: industrial, electrical and construction trades.

                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Major Group 73: maintenance and equipment operation trades.


                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Major Group 82: supervisors and technical jobs in natural resources, agriculture and related production.


                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Major Group 92: processing, manufacturing and utilities supervisors and central control operators.


                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Minor Group 632: chefs and cooks.
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Minor Group 633: butchers and bakers.
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> Minor Group 633: butchers and bakers.
                            </li>
                        </ul>
                    </p>
                    <p class="mb-0 text-justify"><strong><u>Note:</u></strong> Intent is critical here as you cannot reside in Quebec.</p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> You are advised to act quickly as number of intakes under this program is controlled by instructions from the Immigration Minister and changes frequently occur without notice.

                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                    <div class="widget mb-5">
                        <div class="sidebar-links">
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="/Home/ExpressEntry">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Express Entry</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/ProvinceNomineeProgram">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Province Nominee Program</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AtlanticImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Atlantic Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/StartUpVisa">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Start Up Visa</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/RuralNorthernImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Rural and Northern Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/FamilySponsorship">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Family Sponsorship</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AgriFoodImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Agri-Food Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/SelfEmployed">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Self Employed</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--section end-->

</div>

<!--body content end-->