@{
    ViewData["Title"] = "Federal Skilled Workers (FSW)";
     ViewData["whatwedo"] = "yes";
     Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!--body content start-->

<div class="page-content">

    <!--section start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="title mb-3">Federal Skilled Workers (FSW)</h2>
                    <p class="mb-0 text-justify">
                        This is a popular immigration program to be admitted into Canada. Every year this category has the highest allotted numbers among sixty plus immigration programs administered in Canada. Candidates are assessed on six major factors which are age, education, work experience, language, arranged employment and adaptability. In order to qualify under this program, you must score 67 points out of 100.
                    </p>
                    <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">
                    <p class="mb-0 text-justify">
                        For the language, you need minimum of CLB 7 in all modules. The acceptable language testing is IELTS General Training or CELPIP for English Language and TEF or TCF for French.
                    </p>
                    <p class="mb-0 text-justify">
                        The area of work experience considered are NOC 0-Managerial Occupations, NOC A-Professional Occupations and NOC B-Skilled Technical Occupations. This must be 1-year of continuous Full-time position or Part time (15hrs/Week) over a 2-year continuous period in the last 10 years. Arranged employment gives additional points if the applicant works in Canada under temporary work permit or currently works in Canada under LMIA exempt or have a job offer from Canadian employer.

                    </p>
                    <p class="mb-0 text-justify">
                        Proof of funds is required for the principle applicant and accompanying or non accompanying family members.  Additional points can be earned for spouse or partner’s language level or study or work in Canada. Point is earned if the applicant or spouse has relatives (parents, grandparents, aunty, uncle, niece and nephew) in Canada. Scores are awarded for age, such as 18-35 years earning 12 points, 36 years earn 11 points with decreasing order in points as the applicant gets older.


                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i> You are advised to act quickly as number of intakes under this program is controlled by instructions from the Immigration Minister and changes frequently occur without notice.

                            </li>
                        </ul>
                    </p>

                </div>
                <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                    <div class="widget mb-5">
                        <div class="sidebar-links">
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="/Home/ExpressEntry">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Express Entry</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/ProvinceNomineeProgram">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Province Nominee Program</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AtlanticImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Atlantic Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/StartUpVisa">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Start Up Visa</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/RuralNorthernImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Rural and Northern Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/FamilySponsorship">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Family Sponsorship</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AgriFoodImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Agri-Food Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/SelfEmployed">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Self Employed</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--section end-->

</div>

<!--body content end-->