@{
    ViewData["Title"] = "Permanent Resident";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!--section start-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h2 class="title mb-3">Permanent Resident</h2>
                <p class="mb-0">
                    Permanent resident of Canada is defined as a permanent resident is someone who has been given permanent resident status by immigrating to Canada but is not a Canadian citizen. Permanent residents are citizens of other countries. This means you are authorized to live and work in Canada on a permanent basis and have access to benefits like child and health care. Please be advised that to maintain permanent resident status you must reside in Canada 730 days out of every five years.
                </p>
                <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">
                <p>
                    There are several immigration pathways to achieve this objective. By analyzing your situation KSA Immigration Consulting Services Ltd can assist you with determining the best solution to help increase your success rate.
                </p>
                <p class="mb-0">If your plan is to migrate to Canada as a skilled worker under the permanent resident program, one option available to you is via the <strong><u>Express Entry</u></strong>. </p>

            </div>
            <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                <div class="widget mb-5">
                    <div class="sidebar-links">
                        <ul class="list-unstyled">
                            <li class="active">
                                <a href="/Home/ExpressEntry">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Express Entry</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/ProvinceNomineeProgram">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Province Nominee Program</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/AtlanticImmigrationPilot">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Atlantic Immigration Pilot</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/StartUpVisa">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Start Up Visa</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/RuralNorthernImmigrationPilot">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Rural and Northern Immigration Pilot</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/FamilySponsorship">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Family Sponsorship</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/AgriFoodImmigrationPilot">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Agri-Food Immigration Pilot</p>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/SelfEmployed">
                                    <span class="link-icon link-arrow"></span>
                                    <p class="link-text">Self Employed</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--section end-->