@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<!--body content start-->

<div class="page-content">

    <!--blog start-->

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="post">
                        <div class="post-image">
                            <img class="img-fluid rounded" src="images/blog/01.jpg" alt="">
                        </div>
                        <div class="post-desc pl-0 pr-0">
                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>15 Oct, 2019</li>
                                </ul>
                            </div>
                            <div class="post-title">
                                <h2 class="my-3">The biggest concerns about Consulting</h2>
                            </div>
                            <div class="post-author">
                                <div class="post-author-img">
                                    <img class="img-fluid" src="images/thumbnail/01.png" alt="">
                                </div> <span>Welly Kim</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>Consulterz are designing with Lorem Ipsum, you diminish the importance of the copy by lowering it to the same level as any other visual element. The text simply becomes another supporting role, serving to make other aspects more aesthetic. Instead of your design enhancing the meaning of the content, your content is enhancing your design.</p>
                        <p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, The text simply becomes another supporting role, serving to make other aspects more aesthetic. Instead of your design enhancing the meaning of the content, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                    <div class="grey-bg p-5 rounded my-5">
                        <blockquote class="white-bg p-5 mb-0 border-left border-dark">
                            If you fill up your page with draft copy about your client’s business, they will read it. They will comment on it. They will be inexorably drawn to it. Presented the wrong way, draft copy can send your design review off the rails.
                        </blockquote>
                    </div>
                    <div>
                        <p>Consulterz are designing with Lorem Ipsum, you diminish the importance of the copy by lowering it to the same level as any other visual element. The text simply becomes another supporting role, serving to make other aspects more aesthetic. Instead of your design enhancing the meaning of the content, your content is enhancing your design.</p>
                        <p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, The text simply becomes another supporting role, serving to make other aspects more aesthetic. Instead of your design enhancing the meaning of the content, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                    <div class="blog-share d-sm-flex justify-content-between mt-5">
                        <div class="social-icons">
                            <h4 class="mb-2">Share: </h4>
                            <ul class="ml-5">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="post-tags text-sm-right xs-mt-3">
                            <h4 class="mb-2">Tags: </h4>
                            <ul class="list-inline">
                                <li>
                                    <a href="#">Business</a>
                                </li>
                                <li>
                                    <a href="#">Consulting</a>
                                </li>
                                <li>
                                    <a href="#">Css</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="media-holder mt-5">
                        <h3 class="title mb-3">All Comments</h3>
                        <div class="media mb-5">
                            <img class="img-fluid rounded-circle box-shadow mr-4" alt="image" src="images/thumbnail/01.png">
                            <div class="media-body">
                                <h6>Ava Lust</h6>
                                <div class="comment-date">
                                    <span class="date">19 September, 2019</span>
                                </div>
                                <p>It's ironic that when the then-understood Latin was scrambled, it became as incomprehensible as Greek; the phrase 'it's Greek to me' and 'greeking' have common semantic roots!</p>
                                <div class="reply">
                                    <a href="#" class="comment-reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="media mb-5">
                            <img class="img-fluid rounded-circle box-shadow mr-4" alt="image" src="images/thumbnail/02.png">
                            <div class="media-body">
                                <h6>Michaels Oert</h6>
                                <div class="comment-date">
                                    <span class="date">12 September, 2019</span>
                                </div>
                                <p>May a cusstums offficer somewon nothing of a poison-filled. Until, from a twho, twho chaffinch may also pursue it, not even a lump. But as twho, as a tank</p>
                                <div class="reply">
                                    <a href="#" class="comment-reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <img class="img-fluid rounded-circle box-shadow mr-4" alt="image" src="images/thumbnail/03.png">
                            <div class="media-body">
                                <h6>Jordi Paul</h6>
                                <div class="comment-date">
                                    <span class="date">28 August, 2019</span>
                                </div>
                                <p>For specific projects, collaboration between copywriters and designers may be best, however, like Karen McGrane said, draft copy has a way of turning</p>
                                <div class="reply">
                                    <a href="#" class="comment-reply">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-comments mt-5">
                        <div class="section-title">
                            <h2 class="title">Leave A Comment</h2>
                        </div>
                        <form id="contact-form" method="post" action="http://themeht.com/consulterz/html/contact.php">
                            <div id="formmessage"></div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Name" required="required" data-error="Name is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-md-4">
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Email" required="required" data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-md-4">
                                    <input id="form_subject" type="text" name="subject" class="form-control" placeholder="Subject" required="required" data-error="Subject is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group mb-0 col-md-12">
                                    <textarea id="form_message" name="message" class="form-control h-100" placeholder="Your Comment" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-12">
                                    <button class="btn btn-border btn-circle">
                                        <span>Post Comment</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8 col-md-12">
                    <div class="section-title">
                        <h6>Blog</h6>
                        <h2 class="title">More Related Article</h2>
                        <p>Consulterz discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel no-pb" data-dots="false" data-nav="true" data-items="3" data-md-items="2" data-sm-items="1" data-autoplay="true">
                        <div class="item">
                            <div class="post">
                                <div class="post-image">
                                    <img class="img-fluid rounded w-100" src="images/blog/01.jpg" alt="">
                                </div>
                                <div class="post-desc">
                                    <div class="post-meta">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">About</a>
                                            </li>
                                            <li>15 Oct, 2019</li>
                                        </ul>
                                    </div>
                                    <div class="post-title">
                                        <h4><a href="blog-single.html">The biggest concerns about Consulting</a></h4>
                                    </div>
                                    <div class="post-author">
                                        <div class="post-author-img">
                                            <img class="img-fluid" src="images/thumbnail/01.png" alt="">
                                        </div> <span>Welly Kim</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="post">
                                <div class="post-image">
                                    <img class="img-fluid rounded w-100" src="images/blog/02.jpg" alt="">
                                </div>
                                <div class="post-desc">
                                    <div class="post-meta">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">About</a>
                                            </li>
                                            <li>15 Oct, 2019</li>
                                        </ul>
                                    </div>
                                    <div class="post-title">
                                        <h4><a href="blog-single.html">Make your customers improve your invoices</a></h4>
                                    </div>
                                    <div class="post-author">
                                        <div class="post-author-img">
                                            <img class="img-fluid" src="images/thumbnail/02.png" alt="">
                                        </div> <span>Danny Joe</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="post">
                                <div class="post-image">
                                    <img class="img-fluid rounded w-100" src="images/blog/03.jpg" alt="">
                                </div>
                                <div class="post-desc">
                                    <div class="post-meta">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">About</a>
                                            </li>
                                            <li>15 Oct, 2019</li>
                                        </ul>
                                    </div>
                                    <div class="post-title">
                                        <h4><a href="blog-single.html">Why Consulterz is for your business</a></h4>
                                    </div>
                                    <div class="post-author">
                                        <div class="post-author-img">
                                            <img class="img-fluid" src="images/thumbnail/03.png" alt="">
                                        </div> <span>Leeta Rain</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="post">
                                <div class="post-image">
                                    <img class="img-fluid rounded w-100" src="images/blog/04.jpg" alt="">
                                </div>
                                <div class="post-desc">
                                    <div class="post-meta">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">About</a>
                                            </li>
                                            <li>15 Oct, 2019</li>
                                        </ul>
                                    </div>
                                    <div class="post-title">
                                        <h4><a href="blog-single.html">Business Consultance best solution</a></h4>
                                    </div>
                                    <div class="post-author">
                                        <div class="post-author-img">
                                            <img class="img-fluid" src="images/thumbnail/04.png" alt="">
                                        </div> <span>Welly Kim</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--blog end-->

</div>

<!--body content end-->
