@{
    ViewData["Title"] = "Provincial Nominee Programs (PNP)";
Layout = "~/Views/Shared/_Layout2.cshtml";
         ViewData["whatwedo"] = "yes";

}

<!--body content start-->

<div class="page-content">

    <!--section start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="title mb-3">
                        Provincial Nominee Programs (PNP)
                    </h2>
                    <p class="mb-0 text-justify">
                        This program manages the express entry for those qualified in the skill trade. To qualify for this program, you must have a full-time job offer which is LMIA based from a Canadian employer or have a certificate of qualification issued by a Canadian provincial or territorial body.
                    </p>
                    <p class="mb-0 text-justify">
                        Work experience does not need to be continuous but must be a minimum of 2 years full time in the last 5 years acquired after qualifying to practice such trade skills.
                    </p>

                    <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">
                    <p class="mb-0 text-justify">
                        The language requirement is CLB 5 in Speaking and listening, CLB 4 in writing and reading either in English or French.
                    </p>
                    <p class="mb-0 text-justify">
                        The qualifying trade groups are:
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <p class="text-justify">
                                <ul class="list-unstyled list-icon">
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i> Students

                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i> Business People


                                    </li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p class="text-justify">
                                <ul class="list-unstyled list-icon">
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i> Skilled workers


                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i> Semi-Skilled workers
                                    </li>
                                </ul>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                    <div class="widget mb-5">
                        <div class="sidebar-links">
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="/Home/ExpressEntry">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Express Entry</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/ProvinceNomineeProgram">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Province Nominee Program</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AtlanticImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Atlantic Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/StartUpVisa">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Start Up Visa</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/RuralNorthernImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Rural and Northern Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/FamilySponsorship">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Family Sponsorship</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AgriFoodImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Agri-Food Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/SelfEmployed">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Self Employed</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row justify-content-center text-center mt-lg-5">
                        <div class="col-lg-8 col-md-12">
                            <div class="section-title">
                                <h2 class="title">participating provinces</h2>
                                <p>
                                    <strong><u>Note:</u></strong> All the programs undertaken by the provinces are NOCs dependent.
                                    The participating provinces along with their programs are as follows:
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="tab">
                            <!-- Nav tabs -->
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-tab1" data-toggle="tab" href="#tab1-1" role="tab" aria-selected="true"> Alberta</a>
                                    <a class="nav-item nav-link" id="nav-tab2" data-toggle="tab" href="#tab1-2" role="tab" aria-selected="false">British Columbia</a>
                                    <a class="nav-item nav-link" id="nav-tab3" data-toggle="tab" href="#tab1-3" role="tab" aria-selected="false">Manitoba</a>
                                    <a class="nav-item nav-link" id="nav-tab4" data-toggle="tab" href="#tab1-4" role="tab" aria-selected="false">New Brunswick</a>
                                    <a class="nav-item nav-link" id="nav-tab5" data-toggle="tab" href="#tab1-5" role="tab" aria-selected="false">Newfoundland and Labrador</a>
                                    <a class="nav-item nav-link" id="nav-tab6" data-toggle="tab" href="#tab1-6" role="tab" aria-selected="false">Northwest Territories</a>
                                    <a class="nav-item nav-link" id="nav-tab7" data-toggle="tab" href="#tab1-7" role="tab" aria-selected="false">Nova Scotia </a>
                                    <a class="nav-item nav-link" id="nav-tab8" data-toggle="tab" href="#tab1-8" role="tab" aria-selected="false">Ontario</a>
                                    <a class="nav-item nav-link" id="nav-tab9" data-toggle="tab" href="#tab1-9" role="tab" aria-selected="false">Saskatchewan</a>
                                    <a class="nav-item nav-link" id="nav-tab10" data-toggle="tab" href="#tab1-10" role="tab" aria-selected="false">Prince Edward Island</a>
                                    <a class="nav-item nav-link" id="nav-tab11" data-toggle="tab" href="#tab1-11" role="tab" aria-selected="false">Yukon</a>
                                </div>
                            </nav>
                            <!-- Tab panes -->
                            <div class="tab-content" id="nav-tabContent">
                                <div role="tabpanel" class="tab-pane fade show active" id="tab1-1">
                                    <p class="mb-0 text-justify">
                                        Alberta Immigrant Nominee Program (AINP) has 3 major options.
                                    </p>
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Alberta Opportunity Stream (AOS)
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Alberta Express Entry Stream
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Self-Employed Farmer Stream
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab1-2">
                                    <p class="mb-0 text-justify">
                                        <strong>BC Provincial Nominee Program (BC PNP)</strong>
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="text-justify">
                                                <ul class="list-unstyled list-icon">
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>1</sup>Express Entry BC-Skilled Worker
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>2</sup>Express Entry BC-Healthcare Professional
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>3</sup>Express Entry BC-International Graduate
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>4</sup>Express Entry BC-International Post Graduate
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>5</sup>Entry Level and Semi-Skilled
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>6</sup>BC PNP Pilot
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> Entrepreneur Immigration-Regional Pilot
                                                    </li>

                                                </ul>
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="text-justify">
                                                <ul class="list-unstyled list-icon">
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> Entrepreneur Immigration
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> Strategic Projects
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>1</sup>BC Skills Immigration (SI)-Skilled Worker

                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>2</sup>BC Skills Immigration (SI)-Healthcare Professional
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>3</sup>BC Skills Immigration (SI)-International Graduate
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>4</sup>BC Skills Immigration (SI)-International Post Graduate
                                                    </li>
                                                    <li class="mb-3">
                                                        <i class="flaticon-tick"></i> <sup>5</sup>BC Skills Immigration (SI)-Entry Level and Semi-Skilled
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                    <hr />
                                    <p class="mb-0 text-justify">
                                        <strong>1,2,3,5,6</strong> require a Job offer from Canadian employer.
                                    </p>
                                    <p class="mb-0 text-justify">
                                        <strong>1-3</strong> minimum of <strong>CLB 4</strong> for <strong>NOC B</strong>
                                    </p>
                                    <p class="mb-0 text-justify">
                                        5- Job offer in NOC C, D in tourism/hospitality, long haul trucking and food processing
                                    </p>
                                    <p class="mb-0 text-justify">
                                        For the BC PNP SI, you go through the Skills Immigration Registration System (SIRS) which is point based but for BC EE you must meet the minimum criteria for FSW, FST or CEC and have EE Profile and job seeker validation code (JSVC).

                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab1-3">
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> <strong>Skilled Worker in Manitoba</strong> -
                                                Submission of expression of interest (EOI) then receive Letter of Advice to Apply from MB based on ranking scores. Successful of applicants receive nomination. Connection through work experience in Manitoba.

                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> <strong>Skilled Workers Overseas</strong> -
                                                Submission of expression of interest (EOI) then receive letter of Advice to Apply from MB based on ranking scores. Successful Applicants receive nomination. You must have connection to Manitoba via relative (family member) or friends.

                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> <strong>International Education Stream</strong>
                                                <ul class="ml-5">
                                                    <li>
                                                        Career Employment Pathway-CLB/NCLC 7, Job offer, Residing in MB.
                                                    </li>
                                                    <li>
                                                        Graduate Internship Pathway-Min CLB/NCLC 7, Completed a Mitacs Elevate or Accelerate, Residing in MB.
                                                    </li>
                                                    <li>
                                                        International Student Entrepreneur Pilot-Business Plan, Min CLB/NCLC 7, Business Performance Agreement signing.

                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> <strong>Business Investor Stream</strong>
                                                <ul class="ml-5">
                                                    <li>
                                                        Entrepreneur Pathway Soft Launch
                                                    </li>
                                                    <li>
                                                        Farm Investor Pathway
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> International Student Entrepreneur Pilot Soft Launch (ISEP)
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab1-4">
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> <strong>NB Express Entry Stream</strong> -
                                                Applicants are selected if currently living and working in NB or through Letter of Interest via the express entry pool. Applicant should have express entry profile and job seeker validation code (JSVC). Meet the FSW criteria.
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> <strong>NB Skilled Worker Stream</strong> -
                                                Genuine Job offer, qualifies for the position, competitive wage and intend to reside in New Brunswick.
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> <strong>⦁	NB Entrepreneurial Stream</strong> -
                                                CLB 5, Business Requirement, Economic benefit, $250,000 before tax investment. Purchasing an established business, Job creation, Operating the business in NB, Active management, Net worth Verification Report, Exploratory visits then intend to reside in New Brunswick.

                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab1-5">
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Express Entry Skilled Worker
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Skilled Worker
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> International Graduate
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab1-6">
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>Critical Impact Worker
                                                <ul class="ml-5">
                                                    <li>Job offer NOC C, D. </li>
                                                    <li>To be eligible, foreign worker must have worked in the same position for 6 months and be in good standing with the requirements of their temporary foreign work permit.  </li>
                                                    <li>Foreign worker must meet the minimum language requirements of English or French. </li>
                                                    <li>Sign a memorandum of understanding.</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Skilled Worker
                                                <ul class="ml-5">
                                                    <li>Job offer NOC 0, A, B</li>
                                                    <li>1-year work experience in occupation being nominated for.</li>
                                                    <li>CLB 6 for NOC 0, A</li>
                                                    <li>CLB 5 for NOC B</li>
                                                    <li>Sign a memorandum of understanding.</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> <strong>Express Entry</strong>
                                                <ul class="ml-5">
                                                    <li>
                                                        Express Entry Profile
                                                    </li>
                                                    <li>
                                                        Job seeker validation code
                                                    </li>
                                                    <li>
                                                        All other NWT Skilled Worker Stream requirements.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab1-7">
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>Nova Scotia Labour Market Priorities
                                                <ul class="ml-5">
                                                    <li>Candidates are selected from the federal express entry system who meet the NS labour market needs to apply for nomination. </li>
                                                    <li>Letter of Interest (LOI) will be sent to candidates to apply.</li>
                                                    <li>Candidate must submit with 30 days of receiving LOI.</li>
                                                    <li>Meet eligibility criteria in place at the time you are issued a LOI.</li>
                                                    <li>Must meet minimum work experience criteria of FSW/ CEC/ FSTC.</li>
                                                    <li>Have valid Express entry application number.</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Labour Market Priorities for Physicians
                                                <ul class="ml-5">
                                                    <li>Select Physicians to apply for nomination via the federal express entry</li>
                                                    <li>Approval offer must be obtained from Nova Scotia Health Authority or IWK health centre who receive a Letter of Interest from NS Office of Immigration (NSOI).</li>
                                                    <li>Target for the stream is General practitioners and family physicians (NOC 3112) and specialist physicians (NOC 3111).</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Physicians
                                                <ul class="ml-5">
                                                    <li>
                                                        The stream helps NSHA and IWK to recruit and retain physicians and retain physicians with the required skills for the positions that they have been unable to fill with a permanent resident or Canadian citizen.
                                                    </li>
                                                    <li>
                                                        Target for the stream is General practitioners and family physicians (NOC 3112) and specialist physicians (NOC 3111).
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Entrepreneur
                                                <ul class="ml-5">
                                                    <li>
                                                        Experienced business owners or senior business managers who want to live in NS.
                                                    </li>
                                                    <li>
                                                        Start a new business or buy an existing business and must be actively involve in running the business.
                                                    </li>
                                                    <li>
                                                        One-year operational requirement in order to be nominated for permanent resident status.
                                                    </li>
                                                    <li>Invest of at least $150,000 CAD.</li>
                                                    <li>Net worth of at least $600,000 CAD.</li>
                                                    <li>CLB 5 in speaking, listening, reading and writing in English or French.</li>
                                                    <li>Receive invitation to apply from NSOI</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Skilled Worker
                                                <ul class="ml-5">
                                                    <li>
                                                        Full time job offer from NS Employer.
                                                    </li>
                                                    <li>
                                                        1 year of related work experience to the job. Semi-skilled and low skilled workers must already have six months experience with the employer.
                                                    </li>
                                                    <li>
                                                        CLB 5 language requirement for skilled worker or CLB 4 for semi-skilled and low-skilled workers.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Occupations in Demand (OID)
                                                <ul class="ml-5">
                                                    <li>
                                                        A full-time permanent job offer from NS employer.
                                                    </li>
                                                    <li>
                                                        NOC 3413 (Nurse aides, orderlies and patient service associates) or NOC 7511(Transport Truck drivers).
                                                    </li>
                                                    <li>
                                                        1-year work experience
                                                    </li>
                                                    <li>
                                                        CLB 4 language in English or French.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Nova Scotia Demand: Express Entry
                                                <ul class="ml-5">
                                                    <li>
                                                        Two categories which are category A (applicant with job offer) and category B (one of the target occupations in NS).
                                                    </li>
                                                    <li>
                                                        CLB 7 for Language in either English or French.
                                                    </li>
                                                    <li>
                                                        Based on six selection factors with at least a score of 67 points.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Nova Scotia Experience: Express Entry
                                                <ul class="ml-5">
                                                    <li>
                                                        Highly skilled individuals with intent to live in NS.
                                                    </li>
                                                    <li>
                                                        At least 1-year work experience in NS high skilled occupation.
                                                    </li>
                                                    <li>
                                                        CLB 7 for NOC O or A and CLB 5 for NOC B.
                                                    </li>
                                                    <li>Must have express entry profile.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab1-8">
                                    <p class="mb-0 text-justify">
                                        <strong>Ontario Immigrant Nominee Program (OINP)</strong>
                                    </p>
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>Employer Job Offer: In-Demand Skills Stream
                                                <ul class="ml-5">
                                                    <li>Job offer must be full time permanent position in NOC C or D</li>
                                                    <li>At least 9 months of full-time paid work experience in the same in-demand occupation in Ontario. Gained within the last 3 years prior to submitting while legally living and working in Ontario.</li>
                                                    <li>CLB 4 or higher in English or French.</li>
                                                    <li>Canadian Secondary School (high school) diploma or its equivalent in another country.</li>>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> PhD Graduate Stream
                                                <ul class="ml-5">
                                                    <li>All applicants must have obtained or completed the requirements necessary to obtain, a PhD degree from eligible Ontario institution and have completed at least two years of the degree requirements while lawfully living and studying in Ontario.</li>
                                                    <li>12 cumulative months of residence in the past 2 years prior to application submission date.</li>
                                                    <li>Intend to reside in Ontario.</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> French-Speaking Skilled Worker Stream
                                                <ul class="ml-5">
                                                    <li>
                                                        Minimum of 1-year continuous work experience in NOC 0, A or B must have been obtained within the last 5 years if being assessed under FSW.
                                                    </li>
                                                    <li>
                                                        Minimum of 1-year cumulative paid full-time work experience in NOC 0, A or B must have been obtained within the last 3 years if being assessed under CEC
                                                    </li>
                                                    <li>Must have express entry profile</li>
                                                    <li>CLB 7 or higher in French and must have CLB 6 or higher in English.</li>
                                                    <li>Receive Notification of Interest (NOI) from Ontario</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Human Capital Priorities Stream
                                                <ul class="ml-5">
                                                    <li>
                                                        Minimum of 1-year continuous work experience in NOC 0, A or B must have been obtained within the last 5 years if being assessed under FSW.
                                                    </li>
                                                    <li>
                                                        Minimum of 1-year cumulative paid full-time work experience in NOC 0, A or B must have been obtained within the last 3 years if being assessed under CEC.
                                                    </li>
                                                    <li>
                                                        Must have express entry profile.
                                                    </li>
                                                    <li>CLB 7 or higher in English or French.</li>
                                                    <li>Receive Notification of Interest (NOI) from Ontario</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Skilled Trades Stream
                                                <ul class="ml-5">
                                                    <li>
                                                        Have express entry profile.
                                                    </li>
                                                    <li>
                                                        Application must meet the requirements of the federal government Canadian Experience Class (CEC).
                                                    </li>
                                                    <li>
                                                        At least one year of cumulative paid full-time work experience (or the equivalent in paid part-time work) in Ontario in a skilled trade that is listed in Minor Group 633 or Major Groups 72, 73 or 82 of the National Occupational Classification (NOC) in the last 2 years before submitting application.
                                                    </li>
                                                    <li>CLB 5 or higher in English or French</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Entrepreneur Stream
                                                <ul class="ml-5">
                                                    <li>
                                                        Submission of Expression of Interest (EOI).
                                                    </li>
                                                    <li>
                                                        At least 24 months of full-time business experience in the last 60 months.
                                                    </li>
                                                    <li>
                                                        For business in greater Toronto, minimum Net worth of $800,000 CAD with invest of $600,000 CAD but minimum net worth $400,000 CAD if outside greater Toronto with invest of $200,000 CAD.
                                                    </li>
                                                    <li>
                                                        Active investors only and residing 75% of the time in Ontario.
                                                    </li>
                                                    <li>Job creation at full time capacity is mandatory.</li>
                                                    <li>CLB 4 in English or French.</li>
                                                    <li>Exploratory visit in the last 12 months before applying.</li>
                                                    <li>Signing of Performance Agreement.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab1-9">
                                    <p class="mb-0 text-justify">
                                        <strong>Saskatchewan Nominee Immigrant Program (SINP).</strong>
                                    </p>
                                    <p class="mb-0 text-justify">
                                        International Skilled Worker (ISW) Categories
                                    </p>
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>1ISW-Employment Offer
                                                <ul class="ml-5">
                                                    <li>Job offer is a must</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> 2ISW-Occupation in Demand
                                                Apply through expression of Interest (EOI).
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>3ISW-Saskatchewan Express Entry
                                                <ul class="ml-5">
                                                    <li>Must have express entry profile</li>
                                                    <li>Apply through expression of Interest (EOI)</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </p>
                                    <p class="mb-0 text-justify">
                                        1-3 are SINP point based selection system, minimum of CLB 4 but employers and government regulatory might ask for language benchmark higher than CLB 4

                                        2 and 3 accept only NOC 0, A or B. Your occupation must not be on SINP Exclusion list. If your occupation is regulated, professional status and licensure documents must be submitted.

                                    </p>
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>4Hospitality Sector Project
                                                <ul class="ml-5">
                                                    <li>Food and Beverage server (NOC 6513), Food Counter Attendant/Kitchen Help (NOC 6711), Housekeeping/Cleaning Staff (NOC 6731).</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> 5Health Professional
                                                Physicians, Nurses and Other health Professionals.
                                            </li>
                                        </ul>
                                    </p>
                                    <p class="mb-0 text-justify">
                                        4-5 You must be working under the temporary work permit in Saskatchewan and meet sub-category requirements.

                                    </p>
                                    <p class="mb-0 text-justify">
                                        Saskatchewan Experience Category
                                    </p>
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>Skilled worker with existing work permit
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Semi-Skilled Agriculture worker with existing work permit.
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Student
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Long Haul Truck Driver Project
                                            </li>
                                        </ul>
                                    </p>
                                    <p class="mb-0 text-justify">
                                        Valid SINP Job Approval letter. Job offer in NOC C requires CLB 4 Language benchmark
                                    </p>
                                    <p class="mb-0 text-justify">
                                        Entrepreneur Category
                                    </p>
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>Submit Expression of Interest
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> EOI Selection and Invitation to submit application
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Business establishment
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Nomination
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Net Business and Personal Asset of $500,000
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Invest of $300,000 in Saskatoon or Regina but $200,000 in any other region in Saskatchewan
                                            </li>
                                        </ul>
                                    </p>
                                    <p class="mb-0 text-justify">
                                        Farm Category

                                        Net worth of $500,000 CAD, Refundable cash deposit of $75,000 CAD, Exploratory visit, Farming operating knowledge, Farm Proposal Viability.
                                        <br />
                                        Young Farmer Stream
                                        <br />
                                        Net worth of $300,000 CAD, under 40 years old as at the time of applying, 3years experience, Proposal on commercial farming in Saskatchewan.

                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab1-10">
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>PEI Express Entry System
                                                <ul class="ml-5">
                                                    <li>Applicants must meet the criteria of the federal government express entry under one of FSW, CEC or FSTC.</li>
                                                    <li>
                                                        Submit expression of Interest (EOI)
                                                    </li>
                                                    <li>Job offer is optional but applicants working and living in PEI will be given priority.</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Skilled Worker Outside Canada
                                                <ul class="ml-5">
                                                    <li>Job offer from PEI Employer.</li>
                                                    <li>NOC 0, A or B only.</li>
                                                    <li>Have at least 2 years work experience in the last 5 years.</li>
                                                    <li>Minimum of CLB 4 in English or French language.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </p>
                                    <p class="mb-0 text-justify">
                                        Immigrate to PEI as Entrepreneur
                                        <br />
                                        Net worth of $600,000 CAD
                                    </p>
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>Critical Worker
                                                <ul class="ml-5">
                                                    <li>Job offer from PEI Employer.</li>
                                                    <li>
                                                        Working in PEI for at least 6 months in NOC C or D.
                                                    </li>
                                                    <li>Valid work permit and status in Canada</li>
                                                    <li>Language benchmark of CLB 4</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab1-11">
                                    <p class="text-justify">
                                        <ul class="list-unstyled list-icon">
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i>Express Entry
                                                <ul class="ml-5">
                                                    <li>NOC A, 0 or B </li>
                                                    <li>
                                                        Selection from the express entry pool by Yukon Employer.
                                                    </li>
                                                    <li>Employer and foreign worker apply to the Yukon Express entry application.</li>
                                                    <li>The foreign worker must also meet the requirements of a federal economic immigration program.</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Skilled Worker Categories
                                                <ul class="ml-5">
                                                    <li>NOC 0, A or B .</li>
                                                    <li>
                                                        Employer and foreign worker apply to Yukon Nominee Application Program.
                                                        Critical Impact Worker Program
                                                    </li>
                                                    <li>NOC C or D </li>
                                                    <li>Employer and foreign worker apply to Yukon Nominee Application Program.</li>
                                                </ul>
                                            </li>
                                            <li class="mb-3">
                                                <i class="flaticon-tick"></i> Critical Impact Worker Program
                                                <ul class="ml-5">
                                                    <li>NOC C or D </li>
                                                    <li>Employer and foreign worker apply to Yukon Nominee Application Program.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--section end-->

</div>
<!--body content end-->