@{
    ViewData["Title"] = "Rural and Northern Immigration Pilot";
         ViewData["whatwedo"] = "yes";

Layout = "~/Views/Shared/_Layout2.cshtml";
}
}

<!--body content start-->

<div class="page-content">

    <!--section start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="title mb-3">
                        Rural and Northern Immigration Pilot
                    </h2>
                    <p class="mb-0 text-justify">
                        The program helps smaller rural and northern communities attract and retain foreign skilled workers to meet their economic development and labour market needs.
                    </p>
                    <p class="mb-0 text-justify">
                        Participating Communities
                    </p>
                    <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">
                    <p class="mb-0 text-justify">
                        As a candidate, you need to find a job with an employer in 1 of the participating communities.
                    </p>
                    <p class="mb-0 text-justify">
                        If a community endorses you and you’re successful in applying for permanent residence, you’ll then move there to work and live there.
                    </p>
                    <p class="mb-0 text-justify">
                        The communities participating in the pilot are:
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <p class="text-justify">
                                <ul class="list-unstyled list-icon">
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        North Bay, ON
                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        Sudbury, ON
                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        Timmins, ON
                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        Sault Ste. Marie, ON
                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        Thunder Bay, ON
                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        Brandon, MB
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p class="text-justify">
                                <ul class="list-unstyled list-icon">
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        Altona/Rhineland, MB
                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        Moose Jaw, SK
                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        Claresholm, AB
                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        Vernon, BC
                                    </li>
                                    <li class="mb-3">
                                        <i class="flaticon-tick"></i>
                                        West Kootenay (Trail, Castlegar, Rossland, Nelson), BC
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <p class="text-justify">
                        <strong> Work experience</strong><br />
                        1 year of continuous work experience (at least 1,560 hours) in the past 3 years.
                        <br /><strong>Job offer</strong><br />
                        You must have a genuine job offer to work in 1 of the participating communities which is permanent, full-time and non-seasonal.
                        <br /><strong>Skill level</strong><br />
                        Your job offer must be at the same skill level, 1 level above or 1 level below the NOC that applies to your work experience.
                    </p>
                    <p class="mb-0 text-justify">
                        However, if your experience is in NOC skill level D, then the job you’re being offered must be in the same occupation.
                    </p>
                    <p class="mb-0 text-justify">
                        For example
                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                NOC 0 job offer: work experience in NOC 0 or A

                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                NOC A job offer: work experience in NOC 0, A or B
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                NOC B job offer: work experience in NOC A, B or C
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                NOC C job offer: work experience in NOC B or C
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                NOC D job offer: work experience in the same occupation
                            </li>
                        </ul>
                    </p>
                    <p class="mb-0 text-justify">
                        <strong>International students</strong><br />
                        You’re exempt from the work experience criteria above if you’re an international student who graduated with a credential of minimum of 2 years plus post secondary full-time study or master’s degree or higher
                        <br /><strong>Language requirement</strong><br />
                        The minimum language requirements for each NOC category are
                        NOC 0 and A: CLB/NCLC 6, NOC B: CLB/NCLC 5, NOC C and D: CLB/NCLC 4
                        <br /><strong>Educational requirements</strong><br />
                        A Canadian high school diploma or an educational credential assessment (ECA) report if education foreign.
                        <br /><strong>Settlement funds</strong>
                        Unless you’re already working legally in Canada when you apply, you must prove you have enough money to support yourself and any family members while you get settled in your community.
                        Applicants might have to meet some additional requirements by the endorsing community.

                    </p>
                </div>
                <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                    <div class="widget mb-5">
                        <div class="sidebar-links">
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="/Home/ExpressEntry">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Express Entry</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/ProvinceNomineeProgram">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Province Nominee Program</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AtlanticImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Atlantic Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/StartUpVisa">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Start Up Visa</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/RuralNorthernImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Rural and Northern Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/FamilySponsorship">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Family Sponsorship</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AgriFoodImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Agri-Food Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/SelfEmployed">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Self Employed</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--section end-->

</div>
<!--body content end-->