@{
    ViewData["Title"] = "Self-Employed";
Layout = "~/Views/Shared/_Layout2.cshtml";
}
}
<!--body content start-->

<div class="page-content">

    <!--section start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="title mb-3">
                        Self-Employed
                    </h2>
                    <p class="mb-0 text-justify">
                        The Self-employed Persons Program allows people to immigrate to Canada permanently as a self-employed person with relevant experience in cultural activities or athletics and be willing and able to make a significant contribution to the cultural or athletic life of Canada.
                    </p>
                    <p class="mb-0 text-justify">
                        Experience must be in one of these areas:
                    </p>
                    <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">
                    <p class="mb-0 text-justify">
                        Self-employment in cultural activities or athletics or participating in cultural activities or athletics at the world-class level.
                    </p>
                    <p class="mb-0 text-justify">
                        <strong>
                            Eligible Occupations<br />NOC Group 51: Professional Occupations in Art and Culture
                        </strong>
                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Librarians, archivists, conservators and curators
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Writing, translating and related communications professionals
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Creative and performing artists
                            </li>
                        </ul>
                    </p>
                    <p class="mb-0 text-justify">
                        <strong>
                            NOC Group 52: Technical Occupation in art, culture, recreation and sports
                        </strong>
                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Technical Occupations in libraries, public archives, museums and art galleries

                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Photographers, graphic art technicians and technical and coordinating occupations in motion pictures, broadcasting and the performing arts.
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Announcers and other performers.
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Athletes, coaches, referees and related occupations.
                            </li>
                        </ul>
                    </p>
                    <p class="mb-0 text-justify">
                        <strong>
                            Pass mark of 35 out 100 based on the selection factors which are:
                        </strong>
                    </p>
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Education

                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Experience
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Age
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Language
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Adaptability
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                    <div class="widget mb-5">
                        <div class="sidebar-links">
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="business-services.html">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Permanent Resident</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="software-research.html">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Express Entry</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="finance-restructuring.html">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Finance and Restructuring</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="energy-environment.html">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Energy & Environment</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="investment-planning.html">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Investment Planning</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget mb-5">
                        <a href="#" class="brochure"><i class="fas fa-file-pdf"></i> Download<span>Download.pdf</span></a>
                    </div>
                    <div class="widget">
                        <div class="widget-contact px-5 py-5 xs-px-2 xs-py-2 text-white" data-bg-img="images/bg/01.jpg" data-overlay="8">
                            <h4 class="text-white text-capitalize">Contact us for help?</h4>
                            <p>Contact us at the Consulting nearest to you or submit a business inquiry online.</p>
                            <a class="btn" href="contact-1.html"><span>Contact Us</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                    <div class="widget mb-5">
                        <div class="sidebar-links">
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="/Home/ExpressEntry">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Express Entry</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/ProvinceNomineeProgram">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Province Nominee Program</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AtlanticImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Atlantic Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/StartUpVisa">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Start Up Visa</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/RuralNorthernImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Rural and Northern Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/FamilySponsorship">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Family Sponsorship</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AgriFoodImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Agri-Food Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/SelfEmployed">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Self Employed</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--section end-->

</div>
<!--body content end-->