@{
    ViewData["Title"] = "   Start Up Visa";
Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!--body content start-->

<div class="page-content">

    <!--section start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="title mb-3">
                        Start Up Visa
                    </h2>
                    <p class="mb-0 text-justify">
                        To apply for the Start-up Visa Program, your intending business idea needs the support of one or more of the designated organizations which are:
                    </p>

                    <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">
                    <p class="text-justify">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Venture capital funds
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Angel investor groups
                            </li>
                            <li class="mb-3">
                                <i class="flaticon-tick"></i>
                                Business incubators
                            </li>
                        </ul>
                    </p>
                    <p class="mb-0 text-justify">
                        Requires funding from an approved Canadian Angel Investor Fund or Venture Capital Fund.<br />
                        Commitment of $200,000 from Venture Capital fund and $75,000 from Angel Investor.<br />
                        Prove post secondary education and settlement funds.<br />
                        Minimum CLB 5.
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                    <div class="widget mb-5">
                        <div class="sidebar-links">
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="/Home/ExpressEntry">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Express Entry</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/ProvinceNomineeProgram">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Province Nominee Program</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AtlanticImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Atlantic Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/StartUpVisa">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Start Up Visa</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/RuralNorthernImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Rural and Northern Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/FamilySponsorship">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Family Sponsorship</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AgriFoodImmigrationPilot">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Agri-Food Immigration Pilot</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/SelfEmployed">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Self Employed</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--section end-->

</div>
<!--body content end-->