@{
    ViewData["Title"] = "Super Visa";
         ViewData["whatwedo"] = "yes";

Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!--body content start-->

<div class="page-content">

    <!--section start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="title mb-3">
                        Super Visa
                    </h2>
                    <p class="mb-0 text-justify">
                        This is a temporary resident visa type available to parents and grandparents of a permanent resident or citizen. This is a multiple entry visa type valid up to 10years. They can have a single stay in Canada for up to 2 years. Medical examination is carried out and evidence of medical insurance coverage of $100,000 is part of the requirement.
                    </p>
                    <img class="img-fluid w-100 rounded box-shadow my-4" src="/images/services/large/01.jpg" alt="">

                </div>

                <div class="col-lg-4 col-md-12 sidebar md-mt-5">
                    <div class="widget mb-5">
                        <div class="sidebar-links">
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="/Home/TemporaryResident">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Temporary Resident</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Caregiver">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Caregivers</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/StudyPermit">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Study Permit</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/WorkPermit">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Work Permit</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Visit">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Visiting Permit</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/SuperVisa">
                                        <span class="link-icon link-arrow"></span>
                                        <p class="link-text">Super Visa</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!--section end-->

</div>
<!--body content end-->